h1{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
}

.ProjectWrapper{
    position: absolute;
    top: 8vh; left: 0;
    display: grid;
    background: green;
}

.ItemWrapper{
    background: yellow;
}

.ItemWrapper img{
    width: 100%;
}

.Info{
    background: blue;
}

main{
    position: relative;
    left: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1rem;
}